h2{
    margin-top: 150px;
}

.sponsor-carousel{
    margin-left: auto;
    margin-right: auto;
	background: white;
	position: relative;
    width: 100%;
    height: 120px;
    overflow: hidden;
}

.sponsor-carousel::before, .sponsor-carousel::after{
    background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 100%);
    content: "";
    height: 120px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.sponsor-carousel::after{
    right: 0;
    top:0;
    transform: rotateZ(180deg);
}

.sponsor-carousel::before{
    left: 0;
    top:0;
}

.sponsor-carousel .carousel-track {
    -webkit-animation: scroll 20s linear infinite;
    animation: scroll 20s linear infinite;
    width: max-content;
    display: flex;
    gap:150px;
}

.carousel-img{
    align-content: center;
    justify-content: center;
    width: 250px;
    flex-shrink: 0;
}
.carousel-img img:hover{
    transform: scale(1.05);
}

.carousel-img img {
    justify-self: center;
    align-content: center;
    max-height: 120px;
    width: 250px;
    object-fit: contain;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 4 - 150px * 4));
    }
}

.home-page{
    margin-top:77px;
}

.home-img, .team-bg{ 
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;
}

#home-team{
    object-position: 0% 34%;
}
#home-about{
    object-position: 0% 23%;
}

.home-page,.team-page,.about-page,.sponsor-page{
    aspect-ratio: 3/1;
    width: 100%;
    font-size: 20px; 
    text-align: center;
    position: relative;
    display: inline-block;
}

.home-page,.about-page,.sponsor-page{
    background-color: #fff;
}

body{
    font-family: "Oswald", sans-serif;
    margin: 0;
    background-color: black;
    overflow-y: auto;
    overflow-x: hidden;
}


.home-text{
  position: absolute;
  width:100%;
  height:100%;
  top: 40%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: #fff;  
  text-align: center;
  font-size: 12vw;
  font-weight: bolder;
  text-shadow: 3px 0px 1px black;
}

.strip, .footer{
    background-color: #ddd;
    width: 100%;
    border: none;
}

.strip{
    height:17px;
}

.footer{
    display: block;
    height: 300px;
    color:#444;
}

.footer-content{
    display: flex;
    flex-wrap: wrap;
    gap:120px;
    height: fit-content;
    margin-bottom: 37px;
}

.footer h4{
    display: block;
    justify-self: center;
    align-self: self-end;
}

#contact p{
    margin-top: 0px;
}

.socials{

    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 60px;
    display:flex;
    height:fit-content;
    flex-direction: column;
}

.socials img{
    opacity: 80%;
    height:30px;
}

.socials .email{
    margin-left: 9px;
    height:14px;
    opacity: 60%;
    padding-top:7px;
}


.socials a{
    padding-top: 5px;
    text-align: center;
    color: #444;
    text-decoration: none;
}

.socials a:hover{
    transform: scale(1.2);
    text-align: center;
    color: #444;
    text-decoration: none;
}
.socials a:hover ~ img{
    transform: scale(1.2);
}

.socials h3{
    text-decoration: underline;
}

.footer-img-link{
    display:flex;
    align-content: center;
    gap: 8px;
}


.hero{
    border: none;
    height:60px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    width:100%;
}
.logo{
    border: none;
    height:85%;
    width: auto;
    align-self: center;
}

.hero button{
    font-family: "Oswald", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: white;
    border: none;
}

button {
  --line-thickness: 0.12em;
  --line-offset: 0.12em;

  font-size: 2vw;
  color: #000000;
  position: relative;
  display: inline-block;
}
button:hover{
    cursor: pointer;
}

.hero button{
    --text-color: #000000;
    --text-hover: #15522B;
    transition: color 0.4s ease-out;
    color: var(--text-color);
}

.hero button::after,
.hero button::before {
    content: '';
    position: absolute;
    width: 0;
    height: var(--line-thickness);
    background: var(--text-hover);
    transition: width 0.4s ease-out;
    will-change: width, color;
}

.hero button::before {
    top: var(--line-offset);
    left: 0;
}

.hero button::after {
    bottom: var(--line-offset);
    right: 0;
}

.hero button:hover::after,
.hero button:hover::before {
    width: 100%;
}

.hero button:hover {
    color: var(--text-hover);
}


.sponsor-page{
    height: 1000px;
}


.team-page{
    text-align: center;
    height: fit-content;
    background-image: url('images/jamaica-kit.png');
    background-size: cover;
}

#team-container{
    background-color: #FFDA3B;
}

.team-header{
    color: #15522B;
    text-shadow: none;
}

.team-text{
    color: #15522B;
    text-shadow: 1px 1px 1px #15522B;
}

.about-text,.team-text,.back-link{
    align-self: center;
    font-size: 100%;
    line-height: 1.2em;
    font-family: sans-serif;
    padding-right: 20px;
    padding-left: 20px;
}

.back-link{
    display: none;
    color:#000000;
    font-family: "Oswald", sans-serif;
    font-weight: 00;
}

.about-page{
    height:fit-content;
    background-color: #FFDA3B;
}


.about-header,.team-header{
    font-size: 2em;
    font-weight: bolder;
    display:block; 
}

.back{
    justify-self: left;
    padding-top:15px;
    background-color: #fff;
}

#about{
    background-color: #fff;
    height: 100%;
}

.navbar{
    position: fixed; 
    top: 0; 
    width: 100%;
    max-width: 100%;
    z-index: 1000;
    border-bottom: #ddd solid 2px;
    overflow: hidden;
}

.hero-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text{
    font-family:"Oswald", sans-serif ;
    font-size: 0.9rem;
    color: black;
    margin-top:-1px;
    margin-bottom: -1px;
}

.menu-icon{
    width: auto;
    height: 60%;
    cursor: pointer;
    margin-right: 20px;
}

.navbar-container{
    display: flex;
    gap:5px;
    height: 100%;
}

.page-container{
    max-height: 800px;
    justify-self: center;
    border-radius: 10px;
    width: fit-content;
    min-width: 350px;
    margin: 50px 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #08562F;

}


.page-photo{
    max-height: inherit;
}

.page-photo-img{
    min-height: 300px;
    aspect-ratio: 1;
    object-fit: cover;
    width: 100%;
}

.page-info{
    font-size: larger;
    padding:5%;
    flex-basis: 39%;
    flex-grow: 1;
    display: inline-flex;
    flex-direction: column;
    color: white;
    text-shadow: 1px 1px 1px #000000;
}

.page-text{
    flex-grow: 0.5;
}



.page-btn{
    margin-top: 20px;
    height: 50px;
    font-size: 1.2em;
    max-width: 100%;
    border-radius: 5px;
    background-color:gold;
    color: #15522B;
    border:none;
    padding: 10px 20px;
    padding-bottom: 45px;
    margin-bottom: 25px;
    transition: background-color 0.4s ease-out, color 0.4s ease-out;
}

.page-btn:hover{
    background-color: goldenrod;
    color: var(--text-hover);
}

.page-btn:active{
    background-color: goldenrod;
    color: var(--text-hover);
}

.green-btn{
    color:gold;
    background-color: #15522B;
}

.green-btn:hover{
    background-color: forestgreen;
    color: var(--text-hover);
}

.green-btn:active{
    background-color: forestgreen;
    color: var(--text-hover);
}



@media screen and (max-width:780px){
    .page-btn{
        margin-top: 30px;
        display: inline;
        padding: 3px 10px;
        font-size: 1em;
    }
    .hero button{
        display:none;
    }

    .about-text,.team-text{
        margin-top:5px;
        margin-bottom: 5px;
    }

    .back-link{
        display: inline;
    }

    .page-info{
        padding: 10px;
    }

    .page-container{
        max-height: fit-content;
        flex-direction: column;

    }

    .page-photo-img{
        margin-top: 20px;
    }

    .hero{
        justify-content: space-between;
        align-items: center;
    }



    .navbar-container{
        margin-left: 20px;
    }

    ::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    * {
        scrollbar-width: thin;
        scrollbar-color: #ccc #fff;
    }
}

@media screen and (max-width:380px){
    .page-container{
        min-width: 310px;
}
}


@media screen and (min-width:781px){
    .hero-text,.hero-text-container,.menu-icon{
        display:none;
    }
}
